/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
@font-face {
    font-family: 'MapoDPPA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDPPA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JSDongkang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.__all{
    font-family: 'JSDongkang-Regular';
    background: linear-gradient(rgba(152, 194, 142, 0.7) 57%, #ffffff 43%);
}
.logo_title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}
.title{
    font-family: 'MapoDPPA';
    font-weight: 900;
    color: #F8F8F8;
    font-size: 55px;
    margin-bottom: 0;
    /* animation: bounce;
    animation-duration: 2s; */
}
.desc{
    margin-top: 1rem;
    font-size: 1.2rem;
}
#dropdown-basic-button{
    margin-left: 2rem;
    margin-right: 3rem;
    color: gray;
    background-color: #ffffff;
    border-color: #ffffff;
    width: 11rem;
    border-radius: 20px;
    text-align: center;
}

/* list 클릭 시 색깔 바꾸기 */

#dropdown-basic-button:focus{
    box-shadow: 1px 3px #00823F;
}
.part1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 4rem;
    flex-wrap: wrap;
}
.part2{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 7rem;
    flex-wrap: wrap;
    margin-top:2rem;
    margin-bottom: 2rem;
}
.check{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
}
.info{
    display: flex;
    justify-content: space-evenly;
}
.explanation{
    text-align-last: center;
    margin-bottom: 1rem;
}
.explain_img{
    width: 13rem;
    height: 10rem;
    margin-bottom: 1rem;
}
.find{
    border-radius: 20px!important;
}
.province{
    margin-left: 0px!important;
    font-size: 20px;
    background-color: #ffffff;
    width: 6rem;
    height: 37.29px;
    border-radius: 20px;
    margin-bottom: 0;
    padding-top: 3px;
}
.text{
    font-size: 23px;
    margin-bottom: 2rem;
    margin-left: 30px;
}

.ko_ex{
    display: flex;
    align-items: center;
}
.num{
    background-color: rgba(152, 194, 142, 0.7);
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    padding-top: 4px;
}
.ko_ex p{
    margin-bottom: 0px;
}

.icon{
    color: #00823F;
}

.dropdown-menu{
    max-height: 200px;
    overflow-x: hidden;
}

@media screen and (max-width: 768px){
    .title, .desc{
        text-align: center;
    }
    .__all{
        background:  linear-gradient(rgba(152, 194, 142, 0.7) 30%, #ffffff 70%);
    }
    .check{
        padding-left: 2rem;
        margin-bottom: 2rem;
    }
    .part2 .text{
        text-align: center;
    }
    .info{
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
    }
    .info .explain_img{
        width: 10rem;
        height: 7rem;
    }
    .ko_ex{
        display: flex;
        justify-content: center;
    }
    .explanation{
        padding-bottom: 2rem;
    }
    /* .logo{
        width: 10rem;
        height: 10rem;
    }
    .part1{
        padding-top: 2rem;
    } */
}
