/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
@font-face {
    font-family: 'MapoDPPA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDPPA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JSDongkang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.part1{
    /* background-color: rgba(213, 234, 208, 0.7); */
    background-color:  rgba(152, 194, 142, 0.7);
}
.__all{
    height: 100vh;
    font-family: 'JSDongkang-Regular';
}
.logo_title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}
.title{
    font-family: 'MapoDPPA';
    font-weight: 900;
    color: #F8F8F8;
    font-size: 55px;
    margin-bottom: 0;
    /* animation: bounce;
    animation-duration: 2s; */
}
.desc{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #363636;
}
#dropdown-basic-button{
    margin-left: 2rem;
    color: gray;
    background-color: #ffffff;
    border-color: #ffffff;
    width: 11rem;
    border-radius: 20px;
    text-align: center;
}

/* list 클릭 시 색깔 바꾸기 */

#dropdown-basic-button:focus{
    box-shadow: 1px 3px #00823F;
}
.part1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 5rem;
    flex-wrap: wrap;
}
.check{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
}
.find{
    border-radius: 20px!important;
}
.province{
    margin-left: 0px!important;
    font-size: 20px;
    background-color: #ffffff;
    width: 6rem;
    height: 37.29px;
    border-radius: 20px;
    margin-bottom: 0;
    padding-top: 3px;
}

.dropdown-menu{
    max-height: 200px;
    overflow-x: hidden;
}

/*part2*/
.guideI{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #474747;
}
.part2_2, .part2_3{
    padding: 4rem 0;
}
.part2_1{
    padding-bottom: 4rem;
}
.guide{
    font-family: 'MapoDPPA';
    text-align: center;
    margin: 3rem 0;
    font-weight: bold;
    font-size: 1.4rem;
    margin-left: 0.7rem;
}
.part2_2{
    background-color: rgba(213, 234, 208, 0.7);
}
.guide_img{
    width: 36rem;
    height: 20rem;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
}
.guide_step{
    font-size: 1.2rem;
    font-weight: bold;
}
.guide_text{
    margin-left: 1.5rem;
    font-size: 1rem;
}
.guide_step_text{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.part2_1, .part2_2, .part2_3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
